#education {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    width: 75%;
}

.timeatrice {
    font-family: 'IBM Plex Sans';
    font-size: 3vh;
    color: white;
    margin: 0;
}
