@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
    animation: fadeInLeft 2s ease-out 0s 1 normal forwards running;
    opacity: 0;
}

h1 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 5vh;
    color: white;
    text-decoration: underline;
    margin: 5vh 5vw 5vh 5vw;
}

h2 {
    font-family: "Lato";
    font-size: 4vh;
    font-weight: 700;
    color: white;
    margin: 3vh 5vw 3vh 5vw;
}

p {
    font-family: "Lato";
    font-size: 3vh;
    color: white;
    font-weight: 300;
    margin: auto 5vw auto 5vw;
}

p a {
    color: #b4f8c8;
}

span a {
    color: #b4f8c8;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: black;
    }
}

div > a {
    color: white;
    text-decoration: none;
}

li > a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: cornflowerblue;
    border-radius: 0.5vw;
}

@media only screen and (max-width: 800px) {
}
